AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
IndentCaseLabels: true
IndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: false
