[submodule "spirv-tools-sys/spirv-headers"]
	path = crates/spirv-tools-sys/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "spirv-tools-sys/spirv-tools"]
	path = crates/spirv-tools-sys/spirv-tools
	url = https://github.com/EmbarkStudios/SPIRV-Tools.git
	branch = patch-to-string
