# configure GitHub linguist (language bar) https://github.com/github/linguist#overrides
docs/* linguist-documentation
crates/spirv-tools-sys/spirv-headers/* linguist-vendored
crates/spirv-tools-sys/spirv-tools/* linguist-vendored
crates/spirv-tools-sys/generated/* linguist-generated
