[submodule "spirv-tools-sys/spirv-headers"]
	path = spirv-tools-sys/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "spirv-tools-sys/spirv-tools"]
	path = spirv-tools-sys/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
