[workspace]
members = [
    "examples/example-runner",
    "rspirv-linker",
    "rustc_codegen_spirv",
    "spirv-builder",
    "spirv-std",
]

[patch.crates-io]
rspirv = { git = "https://github.com/gfx-rs/rspirv.git", rev = "1addc7d33ae1460ffa683e2e6311e466ac876c23" }
