[workspace]
members = [
    "examples/example-runner",
	"examples/wgpu-example-runner",
    "examples/example-shader",
    "examples/wgpu-example-shader",
    "rustc_codegen_spirv",
    "spirv-builder",
    "spirv-std",
]

[patch.crates-io]
rspirv = { git = "https://github.com/gfx-rs/rspirv.git", rev = "f11f8797bd4df2d1d22cf10767b39a5119c57551" }
