[package]
name = "spirv-std"
version = "0.2.0"
authors = ["Embark <opensource@embark-studios.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/EmbarkStudios/rust-gpu"

[dependencies]
glam = { version = "0.11.1", default-features = false, features = ["libm"] }
num-traits = { version = "0.2.14", default-features = false }
spirv-attrib = { path = "../spirv-attrib" }

[features]
default = []
std = ["glam/std"]