[package]
name = "shared"
version = "0.0.0"
publish = false
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
spirv-std = { workspace = true, features = ["glam"] }
bytemuck = { version = "1.6.3", features = ["derive"] }
