[package]
name = "simplest-shader"
version = "0.0.0"
publish = false
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[lib]
crate-type = ["dylib"]

[dependencies]
spirv-std = { workspace = true, features = ["glam"] }
shared = { path = "../shared" }
